# general aliases
alias c=clear
alias o=pwd

# system commands
alias ssh="TERM=xterm-256color ssh"
alias SS="sudo systemctl"
alias ka="killall"

# emacs related aliases
alias ec='emacsclient -nc -a ""'
alias eg='emacsclient -n -a ""'
alias et='TERM=xterm-256color emacsclient -t -a ""'

# aliases for exa
alias ls='exa'
alias l='exa --git -lh'
alias ldir='ll -d */'

# use broot as the alias for tree
alias tree=broot

# use prettyping instead of ping
# https://github.com/denilsonsa/prettyping
alias ping=prettyping

# show sizes in MB
alias free='free -m'
# fixes typo
alias cd..="cd .."

# setup alias for i3
alias i3lock="i3lock && echo mem > /sys/power/state"

## aliases for feh
# feh: fit image to window
alias fehf='feh -.'
# use imagemagick to open non-raster images using feh
alias fmagick='feh --conversion-timeout'

# Verbosity and settings that you pretty much just always are going to want.
alias \
	cp="cp -iv" \
	mv="mv -iv" \
	rm="safe-rm -vI" \
	mkd="mkdir -pv" \
	yt="youtube-dl --add-metadata -i" \
	ffmpeg="ffmpeg -hide_banner"

# use dark color scheme for ncdu
alias ncdu="ncdu --color dark"

# use colors for ip commands
alias ip='ip -color=auto'

# use bat as an alternative to cat
alias cat=bat
