# general aliases
alias c=clear
alias o=pwd

# system commands
alias ssh="TERM=xterm-256color ssh"
alias SS="sudo systemctl"
alias ka="killall"

# emacs related aliases
alias ec='emacsclient -nc -a ""'
alias eg='emacsclient -n -a ""'
alias et='TERM=xterm-256color emacsclient -t -a ""'

# aliases for lsd
alias ls='lsd --icon never --group-dirs first'
alias ldir='ll -d */'

# use bat instead of cat
alias cat="bat -p --theme='Sublime Snazzy'"

# use broot as the alias for tree
alias tree=broot

# aliases for z.lua
alias zz='z -c' # restrict matches to subdirs of $PWD
alias zi='z -i' # cd with interactive selection
alias zf='z -I' # use fzf to select in multiple matches
alias zb='z -b' # quickly cd to the parent directory

# use prettyping instead of ping
# https://github.com/denilsonsa/prettyping
alias ping=prettyping

# confirm before overwriting something
alias cp="cp -i"
# show sizes in MB
alias free='free -m'
# fixes typo
alias cd..="cd .."

# setup alias for i3
alias i3lock="i3lock && echo mem > /sys/power/state"

# feh: fit image to window
alias fehf='feh -.'
