[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/CSRaghunandan/.emacs.d.git

[submodule ".config/tmux-challenger-deep-theme/tmux"]
	path = .config/tmux-challenger-deep-theme/tmux
	url = https://github.com/challenger-deep-theme/tmux.git
