[user]
	email = rnraghunandan@gmail.com
	name = CSRaghunandan
[credential]
	helper = store
[core]
	editor = /usr/local/bin/emacsclient -c -a ''
	excludesfile = /home/csraghunandan/.gitignore_global
	pager=delta --theme='Sublime Snazzy' --highlight-removed
[interactive]
	diffFilter = delta --color-only 
