# Start configuration added by Zim install {{{
# -------
# Modules
# -------

# Sets sane Zsh built-in environment options.
zmodule environment
# Provides handy git aliases and functions.
zmodule git
# Applies correct bindkeys for input events.
zmodule input
# Sets a custom terminal title.
zmodule termtitle
# Utility aliases and functions. Adds colour to ls, grep and less.
zmodule utility
# add aliases for pacman
zmodule pacman
# easy archive and unarchiving
zmodule archive

#
# Prompt
#
# Exposes git repository status information to prompts.
zmodule git-info
# A customizable version of steeef's prompt theme.
zmodule steeef

# Additional completion definitions for Zsh.
zmodule zsh-users/zsh-completions
# Enables and configures smart and extensive tab completion.
# completion must be sourced after zsh-users/zsh-completions
zmodule completion
# Fish-like autosuggestions for Zsh.
zmodule zsh-users/zsh-autosuggestions
# Fish-like syntax highlighting for Zsh.
# zdharma/fast-syntax-highlighting must be sourced after completion
zmodule zdharma/fast-syntax-highlighting
# Fish-like history search (up arrow) for Zsh.
zmodule zsh-users/zsh-history-substring-search
# add zsh autopairs
zmodule hlissner/zsh-autopair
# fzf integration for z
zmodule changyuheng/fz
# }}} End configuration added by Zim install
