[Unit]
Description=Automatic layout for i3wm
Documentation=https://github.com/chmln/i3-auto-layout
After=display-manager.service

[Service]
ExecStart=/home/csraghunandan/.cargo/bin/i3-auto-layout
Restart=always

[Install]
WantedBy=default.target
