[Unit]
Description=Set keyboard configuration
After=suspend.target

[Service]
User=csraghunandan
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/bash /home/csraghunandan/.scripts/system/keeb

[Install]
WantedBy=suspend.target
